@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar{ /* Esconder a barra lateral - ainda faz a rolagem */
    width: 0px;
    height: 0px;
}

img{
    width: 100vw;
}

a{
    display: block;
    text-decoration: none;
    background-color: darkred;
    padding: 20px;
    text-align: center;
    font-weight: bolder;
    color: white;
    margin-top: -5px;
}

a:hover{
    background-color: red;
}