@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh; /* ALTURA TOTAL */
    width: 100vw; /* LARGURA TOTAL */
    background-color: black;
    margin: 0px;
    position: relative;
}

body{
    background-image: url(../imagens/background001.jpg);
    background-repeat: no-repeat;
    margin: 0px;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
}
/* ALINHAR NO CENTRO DA TELA (Próximas 3 linhas)
main{  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}*/

main {
    position: relative;
    height: 100vh;
}

section#telefone{
    height: 305px;
    width: 140px;
    background-image: url(../imagens/iphone-02.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

iframe#tela{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -49.5%);
    width: 200px;
    height: 400px;
}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.37);
    box-sizing: border-box; /* A borda de baixo, agora faz parte e a figura não se mexe*/
}

section#redes-sociais img:hover{ /* Quando passar o mouse por cima */
    border: 2px solid rgba(255, 255, 255, 0.651);
    transform: translate(-3px, -3px); /* Vai mexer */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.397);
    
}